.pageTitle{
    text-align: center;
    padding: 100px 0 50px;
    p{
        max-width: 582px;
        margin: 0 auto;
        padding-top: 15px;
    }
}

@media only screen and (max-width: 768px){
    .pageTitle{
        padding: 20px 0;
        p{
            padding-top: 5px;
        }
    }
}